@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;800&display=swap');

.logotipo
{
    font-family: 'Orbitron', sans-serif;
    text-shadow: #1a1a1a 0.3rem 0.3rem;
}

body
{
    background-color: #27292d;
    color: #eeeeee;
}
main {
    margin-top: 3rem;
}

.col-text
{
    text-align: center;
}

h1,h2,h3,h4,h5,h6
{
    color: #eeeeee !important;
    font-weight: bold;
}
.navborder
{
    border-bottom: solid 1px rgba(255,255,255,0.1) ;
}
.maincontainer
{
    margin-top: 3rem;
    border: solid 1px rgba(255,255,255,0.1);
    padding: 2rem;
    background-color: #1f2024;
}
.slide_img
{
    height: 626px;
}

.noticia_img
{
    height: 360px;
    width: 540px;
}

article
{
    margin: 0;
    padding: 0;
}

.lol:hover
{
    background-color:  #1d4b8f  !important;
}

.valorant:hover
{
    background-color:  #7d0000  !important;
}

.csgo:hover
{
    background-color:  #5e8949 !important;
}

.rocket:hover
{
    background-color:  #6610f2 !important;
}

.fecha
{
    opacity: 50%;
    font-size: 0.75rem;
}

a
{
    color:white;
}

a:hover
{
    color:#e2e7a8;
}

.pagination > li > a
{
    background-color: #1f2024;
    color: white;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: black !Important;
    background-color: #cccccc !Important;
    border: solid 1px white !Important;
}

.pagination > .active > a:hover
{
    color: #5a5a5a;
    background-color: #eee !important;
    border-color: #ddd;
}